.main {
  background-color: $background;
  display: flex;
  .lt {
    transform: translateX(-100%);
  }
  .left-part {
    flex-basis: 33%;
    min-height: 100vh;
    transition: 0.5s !important;
    background-color: $main;
    transform: translateX(0%);
    .logo {
      padding: 2.5rem 1.2rem;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      border-bottom: 1px solid #5e56ac;
      a {
        height: 5rem;
        display: flex;
        align-items: center;
        &:last-child {
          margin-left: 2rem;
        }
      }
      svg {
        height: 2.6rem;
        margin-left: 2rem;
      }
      .close-left-nav {
        position: absolute;
        display: none;
        right: -7.5%;
        border: 1px solid $main;
        background-color: $main;
        color: #fff;
        i {
          font-size: 2.8rem;
        }
      }
    }
    .list-nav {
      padding: 2.5rem 1.2rem;
      .nav-list {
        list-style: none;
        display: block;
        width: 100%;
        .outer-list {
          padding: 0 1rem;
          display: flex;
          flex-direction: column;
          a {
            color: #ffffffb3;
            padding: 1.8rem;
            width: 100%;
            transition: 0.2s;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            i {
              font-size: 2.5rem;
              margin-right: 1.2rem;
            }
            span {
              font-size: 1.6rem;
              font-weight: 400;
            }
          }
          &:hover a {
            color: #fff;
            background: #554abe !important;
            box-shadow: 0 12px 15px 0 #42389d21;
          }
        }
      }
    }
    .copyright {
      font-size: 14px;
      padding: 0 45px;
      margin-top: 40px;
      color: #969ba0;
      margin-bottom: 40px;
      p {
        text-transform: capitalize;
      }
    }
  }
  .right-part {
    flex-basis: 100%;
    transition: 0.5s;
    .path {
      font-size: 14px;
      line-height: 1.4285em;
      color: rgba(0, 0, 0, 0.87);
      .container {
        width: 100%;
        padding: 2.5rem 2rem;
        text-align: right;
        a {
          color: $main;
          font-weight: 700;
          text-transform: capitalize;
          &:hover {
            color: black;
          }
        }
      }
    }
    .head {
      padding: 2.5rem 2rem;
      background-color: $white;
      display: flex;
      border-bottom: 1px solid #eee;
      justify-content: space-between;
      .ham-name {
        display: flex;
        align-items: center;
        .mnu {
          margin-right: 2rem;
          width: 2.6rem;
          display: flex;
          flex-direction: column;
          cursor: pointer;
          transform: rotate(180deg);
          line-height: 5rem;
          span {
            width: 100%;
            border: 1px solid $main;
            background-color: $main;
            height: 0.3rem;
            margin: 0.2rem 0;
            &:nth-child(1) {
              width: 70%;
            }
            &:nth-child(3) {
              width: 70%;
            }
          }
        }
        .ty {
          display: none;
        }
        .nm {
          font-size: 30px;
          padding: 0.3rem;
          font-weight: 600;
          color: #000;
          text-align: left;
        }
      }
      .profile {
        border-left: 1px solid $border;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        position: relative;
        a {
          height: 4rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          img {
            border-radius: 50%;
          }
        }
        .name {
          margin-left: 1rem;
          display: flex;
          flex-direction: column;
          span {
            font-size: 16px;
            color: #000;
            display: block;
            font-weight: 600;
            text-transform: capitalize;
          }
          small {
            display: block;
            font-size: 13px;
            color: #89879f;
            font-weight: 400;
            line-height: 1.2;
          }
        }
        .hover-bot {
          background-color: $white;
          box-shadow: 0 0px 12px rgba(2, 2, 2, 0.103);
          position: absolute;
          left: -40%;
          bottom: -150%;
          z-index: 9;
          display: none;
          ul {
            list-style: none;
            li {
              padding: 0.1rem 2.5rem;
              display: flex;
              flex-direction: column;
              a {
                padding: 0;
                font-size: 1.4rem;
                color: #7e7e7e;
                i {
                  margin-right: 0.8rem;
                }
              }
              &:hover {
                background-color: #eee;
              }
            }
          }
        }
        &:hover .hover-bot {
          display: initial;
        }
      }
    }
    .row {
      margin-top: 3rem;
      display: flex;
      flex-wrap: wrap;
      .col-xxl-6 {
        position: relative;
        width: 100%;
        flex-basis: 50%;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0.8rem 0;
        .card {
          margin-bottom: 1.875rem;
          background-color: #fff;
          transition: all 0.5s ease-in-out;
          position: relative;
          border: 0px solid transparent;
          border-radius: 1.375rem;
          display: flex;
          flex-direction: column;
          min-width: 0;
          padding: 2rem 0;
          word-wrap: break-word;
          .card-border {
            position: absolute;
            top: 0;
            left: 0;
            height: 6px;
            width: 100%;
            border-radius: 5px;
          }
          .bg-secondary {
            background-color: #864ad1 !important;
          }
          .bg-warning {
            background-color: #ffac30 !important;
          }
          .bg-primary {
            background-color: #42389d !important;
          }
          .bg-info {
            background-color: #51a6f5 !important;
          }
          .card-body {
            padding: 1.875rem;
            flex: 1 1 auto;
            .align-items-center {
              align-items: center !important;
              .media-body {
                flex: 1;
                .num-text {
                  font-size: 58px;
                  color: $black;
                  line-height: 1.2;
                }
                .fs-14 {
                  font-size: 14px !important;
                  line-height: 1.5;
                }
              }
              .mr-3 {
                margin-right: 1rem !important;
              }
            }
            .media {
              display: flex;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .main {
    position: relative;
    display: block;
    flex-basis: auto;
    .left-part {
      min-height: 100%;
      transition: 0.5s !important;
      background-color: $main;
      position: absolute;
      z-index: 9;
      width: 28rem;
      transform: translateX(-120%);
      .logo {
        padding: 2.5rem 1rem;
        .close-left-nav {
          display: initial;
        }
      }
      .list-nav {
        padding: 2.5rem 1rem;
        .nav-list {
          list-style: none;
          display: block;
          width: 100%;
          .outer-list {
            padding: 0 0rem;
            display: flex;
            flex-direction: column;
            a {
              color: #ffffffb3;
              padding: 1.2rem;
              i {
                margin-right: 1.2rem;
              }
            }
            &:hover a {
              color: #fff;
              background: #554abe !important;
              box-shadow: 0 12px 15px 0 #42389d21;
            }
          }
        }
      }
      .copyright {
        font-size: 12px;
        padding: 0.5rem;
        margin-top: 40px;
        color: #969ba0;
        margin-bottom: 40px;
        p {
          text-transform: capitalize;
          word-wrap: break-word;
        }
      }
    }
    .right-part {
      width: 100%;
      .head {
        .ham-name {
          .ty {
            display: flex;
          }
          .vy {
            display: none;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 680px) {
  .right-part {
    .row {
      flex-direction: column;
    }
  }
}
@media only screen and (max-width: 444px) {
 .main{
  .right-part {
    .head{
      .ham-name{
        .nm{
          font-size: 2.5rem;
        }
      }
    }
  }
 }
}