$main:#42389d;
$white:#fff;
$black:#000;
$blackFade:#181818;
$heading:#495057;
$font:#74788d;
$border:#e1e4e8;
$redish:#f55d2c;
$background:#f9f9f9;
$iconbackgroundmaincolor:#f69733;
$iconbackgroundmain:#fdead6;
$iconbackgroundmain-dark:#fadcb9;

/* Default Values */

$default_padding:0.23rem 5.7rem;

