.main .right-part .row .col-xxl-6 .card .card-body .align-items-center .media-body{
    .img{
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        img{
            border-radius: 50%;
        }
    }
    .n333{
        font-size: 2rem;
    }
}