.newaddress {
  .headbanner {
    background: rgba(245, 93, 44, 0.3);
    position: relative;
    padding: 50px 0;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      content: "";
      background: url(../images/svg/banner.svg) no-repeat bottom;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      pointer-events: none;
      background-size: cover;
      opacity: 0.02;
    }
    .userimage {
      border: 2px solid rgb(255, 255, 255);
      height: 9rem;
      width: 9rem;
      border-radius: 50%;
      img {
        border-radius: inherit;
      }
    }
    h4 {
      font-size: 24px;
      color: #2b2f4c;
      text-align: center;
      margin-bottom: 8px;
      margin-top: 18px;
    }
    p {
      font-size: 14px;
      color: #3e3f5e;
      text-align: center;
      margin-bottom: 20px;
      font-weight: 500;
      display: block;
      a {
        color: #3e3f5e !important;
        font-size: 16px;
        margin-left: 5px;
      }
    }
    .earn-points {
      display: inline-flex;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      color: #2b2f4c;
      background: rgba(255, 255, 255, 0.3);
      padding: 5px 11px 5px 10px;
      border-radius: 5px;
      img {
        width: 24px;
        margin-right: 7px;
      }
    }
  }
  .myac-body {
    padding-top: 5rem;
    .row {
      padding: 0.8rem 8rem;
      .left {
        padding-right: 1.5rem;
        flex-basis: 26%;
        .ul-wrapper {
          background-color: $white;
          border-radius: 4px;
          ul {
            list-style: none;
            border-radius: 4px;
            li {
              display: flex;
              padding: 12px 20px;
              border-bottom: 1px solid #efefef;
              font-size: 14px;
              font-weight: 400;
              color: #2b2f4c;
              text-align: left;
              align-items: center;
              cursor: pointer;
              &:hover {
                background-color: #e98b3381;
                color: $black;
              }
              &:hover a {
                color: $black;
              }
              i {
                margin-right: 1rem;
                font-size: 1.8rem;
              }
            }
            .active {
              background-color: $redish;
              color: $white;
              a {
                color: $white;
              }
            }
          }
        }
      }
      .right {
        flex-basis: 74%;
        margin-left: 1.5rem;
        h4 {
          font-size: 18px;
          font-weight: 700;
          color: #2b2f4c;
          text-align: left;
          i {
            margin-right: 5px;
          }
        }
        .pdpt-bg {
          margin-top: 30px;
          background: #fff;
          border-radius: 3px;
          box-shadow: 0 1px 2px 0 #e9e9e9;
          .pdpt-title {
            border-bottom: 1px solid #efefef;
            h4 {
              border-bottom: 1px solid #efefef;
              padding: 15px 20px;
              font-size: 16px;
              font-weight: 600;
              color: #2b2f4c;
            }
          }
          .formbody {
            background-color: $white;
            padding: 15px 20px;
            form {
              width: 100%;
              .form-group {
                margin-bottom: 18px;
                display: inline-block;
                width: 100%;
                .product-radio {
                  margin-top: 7px;
                  .product-now {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                      margin-right: 5px;
                      width: 50px;
                      height: 36px;
                      position: relative;
                      text-align: center;
                      display: inline-block;
                      input[type="radio"] {
                        display: none;
                      }
                      input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                      }
                    }
                    label {
                      padding: 5px;
                      cursor: pointer;
                      background: #c7c7c7;
                      color: #fff;
                      border-radius: 3px;
                      font-weight: 500;
                      font-size: 12px;
                    }
                    input[type="radio"]:checked + label,
                    .Checked + label {
                      background: #f55d2c;
                    }
                  }
                }
              }
              .address-fieldset {
                .row {
                  display: flex;
                  flex-direction: column;
                  padding-left: 0;
                  padding-right: 0;
                  label {
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: #2b2f4c;
                  }
                  input,select {
                    border: 1px solid $border;
                    border-radius: 4px;
                    margin-top: 1.8rem;
                    margin-bottom: 2rem;
                    width: 100%;
                    &:focus{
                        border-color: $redish;
                    }
                  }
                  select{
                    padding: 0.8rem 0;
                  }
                }
                .row2 {
                  display: flex;
                  justify-content: space-between;
                  .lt,
                  .ft {
                    flex-basis: 45%;
                  }
                  .save-address{
                      background-color: transparent;
                      color: $redish;
                      border: 1px solid $redish;
                      &:hover{
                          background-color: $redish;
                          color: $white;
                      }

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1168px) {
  .newaddress {
    .myac-body {
      .row {
        padding: 0.5rem 2rem;
      }
    }
  }
}
@media only screen and (max-width: 838px) {
  .newaddress {
    .myac-body {
      .row {
        flex-direction: column;
        .left {
          margin-right: 0;
          padding-right: 0;
        }
        .right {
          margin-top: 3rem;
          margin-left: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .newaddress {
    .myac-body {
      .row {
        padding: 0.5rem 1rem;
        .right
          .pdpt-bg
          .track-order
          .bs-wizard
          .bs-wizard-step
          .bs-wizard-stepnum {
          font-size: 1.2rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 538px) {
  .newaddress {
    .myac-body {
      .row {
        padding: 0.5rem 1rem;
        .right .pdpt-bg {
          .pdpt-title {
            flex-direction: column;
          }
        }
      }
    }
  }
}
