.myorders {
  .headbanner {
    background: rgba(245, 93, 44, 0.3);
    position: relative;
    padding: 50px 0;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      content: "";
      background: url(../images/svg/banner.svg) no-repeat bottom;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      pointer-events: none;
      background-size: cover;
      opacity: 0.02;
    }
    .userimage {
      border: 2px solid rgb(255, 255, 255);
      height: 9rem;
      width: 9rem;
      border-radius: 50%;
      img {
        border-radius: inherit;
      }
    }
    h4 {
      font-size: 24px;
      color: #2b2f4c;
      text-align: center;
      margin-bottom: 8px;
      margin-top: 18px;
    }
    p {
      font-size: 14px;
      color: #3e3f5e;
      text-align: center;
      margin-bottom: 20px;
      font-weight: 500;
      display: block;
      a {
        color: #3e3f5e !important;
        font-size: 16px;
        margin-left: 5px;
      }
    }
    .earn-points {
      display: inline-flex;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      color: #2b2f4c;
      background: rgba(255, 255, 255, 0.3);
      padding: 5px 11px 5px 10px;
      border-radius: 5px;
      img {
        width: 24px;
        margin-right: 7px;
      }
    }
  }
  .myac-body {
    padding-top: 5rem;
    .row {
      padding: 0.8rem 8rem;
      .left {
        padding-right: 1.5rem;
        flex-basis: 26%;
        .ul-wrapper {
          background-color: $white;
          border-radius: 4px;
          ul {
            list-style: none;
            border-radius: 4px;
            li {
              display: flex;
              padding: 12px 20px;
              border-bottom: 1px solid #efefef;
              font-size: 14px;
              font-weight: 400;
              color: #2b2f4c;
              text-align: left;
              align-items: center;
              cursor: pointer;
              &:hover {
                background-color: #e98b3381;
                color: $black;
              }
              &:hover a {
                color: $black;
              }
              i {
                margin-right: 1rem;
                font-size: 1.8rem;
              }
            }
            .active {
              background-color: $redish;
              color: $white;
              a {
                color: $white;
              }
            }
          }
        }
      }
      .right {
        flex-basis: 74%;
        margin-left: 1.5rem;
        h4 {
          font-size: 18px;
          font-weight: 700;
          color: #2b2f4c;
          text-align: left;
          i {
            margin-right: 5px;
          }
        }
        .pdpt-bg {
          margin-top: 30px;
          background: #fff;
          border-radius: 3px;
          box-shadow: 0 1px 2px 0 #e9e9e9;
          .pdpt-title {
            border-bottom: 1px solid #efefef;
            h6 {
              padding: 15px 20px;
              font-size: 14px;
              font-weight: 400;
              color: #2b2f4c;
              margin-bottom: 0;
            }
          }
          .order-dtsll {
            padding: 20px;
            list-style: none;
            li {
              display: inline-block;
              vertical-align: top;
              .order-dt-img {
                background: #f9f9f9;
                padding: 10px;
                border: 1px solid #efefef;
                border-radius: 5px;
                img {
                  width: 50px;
                }
              }
              .order-dt47 {
                margin-left: 15px;
                h4 {
                  font-size: 16px;
                  color: #2b2f4c;
                  margin-bottom: 5px;
                  line-height: 24px;
                  text-align: left;
                  font-weight: 700;
                }
                p {
                  font-size: 14px;
                  font-weight: 400;
                  text-align: left;
                  color: #3e3f5e;
                  margin-bottom: 7px;
                }
                .order-title {
                  font-size: 14px;
                  font-weight: 500;
                  color: #2b2f4c;
                  span {
                    font-size: 12px;
                    display: inline-block;
                    background: #2b2f4c;
                    color: #fff;
                    height: 18px;
                    border-radius: 100%;
                    width: 18px;
                    text-align: center;
                    font-weight: 700;
                    margin-left: 5px;
                    cursor: pointer;
                  }
                }
              }
            }
          }
          .total-checkout-group {
            padding: 20px 20px 0;
            border-top: 1px solid #efefef;
            margin-top: 10px;
            .cart-total-dil {
              display: flex;
              width: 100%;
              align-items: center;
              h4 {
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
                color: #2b2f4c;
                line-height: 24px;
              }
              span {
                color: #8f91ac;
                font-size: 16px;
                margin-left: auto;
                font-weight: 400;
                line-height: 24px;
              }
            }
          }
          .main-total-cart {
            display: flex;
            padding: 20px;
            border-bottom: 1px solid #e5e5e5;
            h2 {
              margin-bottom: 0;
              font-size: 18px;
              font-weight: 600;
              color: #2b2f4c;
              line-height: 24px;
            }
            span {
              color: #f55d2c;
              font-size: 18px;
              margin-left: auto;
              font-weight: 700;
              line-height: 24px;
            }
          }
          .track-order {
            padding: 20px 0 20px;
            h4 {
              margin-left: 20px;
              margin-bottom: 20px;
              font-weight: 700;
              color: #2b2f4c;
              text-align: left;
            }
            .bs-wizard {
              margin-top: 0;
              display: flex;
              width: 100%;
              .bs-wizard-step {
                padding: 0;
                position: relative;
                width: 100%;
                .bs-wizard-stepnum {
                  color: #2b2f4c;
                  font-size: 14px;
                  margin-bottom: 5px;
                  font-weight: 400;
                  text-align: center !important;
                }
                .progress {
                  position: relative;
                  border-radius: 0px;
                  height: 8px;
                  box-shadow: none;
                  margin: 22px 0;
                  overflow: hidden;
                  font-size: 0.75rem;
                  left: 50%;
                  .progress-bar {
                    width: 100%;
                    box-shadow: none;
                    background: #ffcfc0;
                  }
                  .fade-bar {
                    width: 100%;
                    box-shadow: none;
                    background: #dfdfdf;
                  }
                }
                .bs-wizard-dot {
                  position: absolute;
                  width: 30px;
                  height: 30px;
                  display: block;
                  background: #ffcfc0;
                  top: 43px;
                  left: 50%;
                  margin-top: -15px;
                  margin-left: -15px;
                  border-radius: 50%;
                  &::after {
                    content: " ";
                    width: 14px;
                    height: 14px;
                    background: #f55d2c;
                    border-radius: 50px;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                  }
                }
                .fade {
                  position: absolute;
                  width: 30px;
                  height: 30px;
                  display: block;
                  background: #dfdfdf;
                  top: 43px;
                  left: 50%;
                  margin-top: -15px;
                  margin-left: -15px;
                  border-radius: 50%;
                  &::after {
                    content: " ";
                    width: 14px;
                    height: 14px;
                    background: #dfdfdf;
                    border-radius: 50px;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                  }
                }
              }
            }
          }
          .call-bill {
            padding: 15px 20px;
            display: flex;
            border-top: 1px solid #efefef;
            align-items: center;
            .delivery-man {
              font-size: 14px;
              color: #2b2f4c;
              font-weight: 400;
              text-align: left;
              line-height: 24px;
              a {
                margin-left: 5px;
                color: #f55d2c;
              }
            }
            .order-bill-slip {
              margin-left: auto;
              .bill-btn5 {
                display: block;
                background: #f55d2c;
                color: #fff;
                padding: 1.5rem;
                font-weight: 500;
                border-radius: 5px;
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1168px) {
  .myorders {
    .myac-body {
      .row {
        padding: 0.5rem 2rem;
      }
    }
  }
}
@media only screen and (max-width: 838px) {
  .myorders {
    .myac-body {
      .row {
        flex-direction: column;
        .left {
          margin-right: 0;
          padding-right: 0;
        }
        .right {
          margin-top: 3rem;
          margin-left: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .myorders {
    .myac-body {
      .row {
        padding: 0.5rem 1rem;
        .right
          .pdpt-bg
          .track-order
          .bs-wizard
          .bs-wizard-step
          .bs-wizard-stepnum {
          font-size: 1.2rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 538px) {
  .myorders {
    .myac-body {
      .row {
        padding: 0.5rem 1rem;
        .right .pdpt-bg {
          .pdpt-title {
            flex-direction: column;
          }
        }
      }
    }
  }
}
